<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<script src="Scripts/angular.js" type="text/javascript"></script>
<script>
    function Customer($scope) {
     //debugger
         $scope.CustomerName = "Frank";
         $scope.CustomerCode = "100";
     }
     var myApp = angular.module("myApp", []);
     myApp.controller("Customer", Customer);
</script>
<body ng-app= "myApp">
<div></div>
    <div id="Customer" ng-controller = "Customer" >
    Customer Name : - <input type="text" ng-model="CustomerName" id="CustomerName" name="name" value=" " /><br />
    Customer Code : - <input type="text" ng-model="CustomerCode"id="CustomerCode" name="name" value=" " /><br />
        <div id="divCustomerName">{{CustomerName}}</div>
        <div id="divCustomerCode">{{CustomerCode}}</div><br />

    </div><br />
    <div id="Div1" ng-controller = "Customer">
    Customer Name : - <input type="text" ng-model="CustomerName" id="Text1" name="name" value=" " /><br />
    Customer Code : - <input type="text" ng-model="CustomerCode"id="Text2" name="name" value=" " /><br />
        <div id="div2">{{CustomerName}}</div>
        <div id="div3">{{CustomerCode}}</div><br />

    </div><br />

</body>
</html>
